# deps
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.local
.env.production

# Vercel
.vercel

# secrets
*.pem
.env*.local

# OS
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/
*.swp

# misc
*.log
